/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(65, 29, 29, 0.2), rgba(169, 162, 162, 0.5)),
    url(https://img.freepik.com/premium-vector/comic-speech-bubbles-with-text-quiz-night-neon-icon-symbol-sticker-tag-special-offer-label_100456-7641.jpg?w=1060);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Main container */
.quiz-container {
    margin-top: 10%;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;

}

/* Quiz header */
h1 {
    font-size: 1.5em;
    color: #0f0a0a;
    margin-bottom: 15px;
}

/* Paragraph styling */
p {
    font-size: 20px;
    margin-bottom: 5px;
    color: #f1eded;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #07fc40;
}

/* Input styling */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Button styling */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0bf316;
}

/* Feedback message */
.feedback {
    font-size: 1.2em;
    margin-top: 10px;
}

.feedback.correct {
    color: rgb(6, 249, 6);
    text-align: center;
    text-shadow: 0px 10px 5px rgb(16, 12, 12);
    font-style: oblique;
    font-size: 30px;
}

.feedback.wrong {
    color: #f7051d;
    text-align: center;
}
.result{
font-size: 18px;
}
.timer{
    font-size: 20px;
    color: #f2eeee;
    font-weight: bold;
    text-align: center;
}
/* Next question link */
a {
    display: inline-block;
    margin-top:0px;
    text-decoration: none;
    color: #f2f4f7;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    body {
        height: auto; /* Adjust height for smaller screens */
    }
    
    .quiz-container {
        margin-top: 20%;
        padding: 10px;
    }

}

